@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.content {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2  {
    color: #fff;
}
h3 {
    color: #000;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* APOD Section Styles */
#apod-section {
    text-align: center;
}

#apod-content {
    margin-top: 20px;
}

/* Rover Section Styles */
#rover-info {
    margin-top: 20px;
    text-align: left;
}

#date-input {
    width: 12%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.select-box {
    width: 12%;
    padding: 10px;
    font-size: 16px;
}

.submit-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Mars Rover Image Styles */
#rover-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#rover-image {
    max-width: 100%;
    display: block;
    margin: 10px;
}

/* Calendar Icon Styles */
#calendar-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
